  .button {
    position: relative;
    background: #444;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    letter-spacing: 0.1rem;
    font-size: 0.8rem;
    padding: 1rem 2rem;
    transition: 0.2s;
    margin:1rem;
    display:flex;
    justify-content:centre;
    z-index:100;
  }
  
  .button:hover {
    letter-spacing: 0.2rem;
    transform: scale(1.1);
    background: var(--clr);
    color: white;
    /* box-shadow: 0 0 35px var(--clr); */
    animation: box 3s infinite;
  }
  
  .button::before {
    content: "";
    position: absolute;
    inset: 2px;
    background: #000000;
  }
  
  .button span {
    position: relative;
    z-index: 1;
  }
  .button i {
    position: absolute;
    inset: 0;
    display: block;
  }
  
  .button i::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 80%;
    top: -2px;
    border: 2px solid rgb(199, 90, 23);
    background: rgb(199, 90, 23);
    transition: 0.2s;
  }
  
  .button:hover i::before {
    width: 15px;
    left: 20%;
    animation: move 1s infinite;
  }
  
  .button i::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 20%;
    bottom: -2px;
    border: 2px solid rgb(199, 90, 23);
    background: rgb(199, 90, 23);
    transition: 0.2s;
  }
  
  .button:hover i::after {
    width: 15px;
    left: 80%;
    animation: move 1s infinite;
  }
  
  @keyframes move {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes box {
    0% {
      box-shadow: rgb(199, 90, 23);
    }
    50% {
      box-shadow: 0 0 25px rgb(199, 90, 23);
    }
    100% {
      box-shadow: rgb(199, 90, 23);
    }
  }
  