@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-size: 18px;
}

@media (min-width:640px) {
    :root {
        font-size: 18px;
    }
}
@media (min-width:1024px) {
    :root {
        font-size: 18px;
    }
}
@media (min-width:1280px) {
    :root {
        font-size: 20px;
    }
}
